*{
    margin: 0;
    padding: 0;
}
/* Fonts de Google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

ul{
    list-style-type: none;
}

header{
    position: sticky;
    top: 0;
    background-color: #FFE6E8;
    font-family: 'Poppins', sans-serif;
    color: rgb(214, 29, 29);
    font-size: 18px;
    text-align: center;
    
}

header nav ul li a{
    text-decoration: none;
}

/* .nav-logo{
    display: flex;
    justify-content: flex-start;
} */

.bg.perdida{
    background-color:#FFE6E8;
}

.nav-flex{
    display: flex;
    /* justify-content: space-evenly; */
    background-color:#FFE6E8;
    padding: 12px;
    /*margin-bottom: 24px;*/
}

.logo-principal {
    padding: 1rem 0rem 0rem 2rem;
}
.nav-pd {
    padding: 1rem 18rem;
}
.nav-li {
    padding : 0rem 1rem;
}
.nav-logos {
    padding: 0rem 1rem 0rem 0rem;
}

.logos-flex{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;
    
}
nav ul li{
    display: inline-block;
    justify-content: space-evenly;
}
    
main a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.titulo-principal{
    color: #FF4219;
    font-weight: medium ;
    font-style: normal ;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo-hero{
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
    font-weight: medium ;
}

h2{
    color: #FF4219;
    font-weight: medium ;
    font-style: normal ;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*.card{
    background-color: #CFBDD1;
    width: 300px;
    margin: 24px 0px 24px 24px;
    border-radius: 16px;
}
.card-titulo{
    text-align: center;
    color: #2a152c;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 50px;
}
.card-imagen{
    margin: -38px 32px 0px 29px;
    border-radius: 16px;
    box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.2);
}
.card-texto{
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 20px 20px;
    }
*/
.parrafo-lugar{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.parrafo-habitaciones{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.parrafo-experiencias{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.parrafo-contacto{
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    /* justify-self: center;
    justify-content: center; */
    justify-items: end;
    grid-template-areas: 
    "f1 f2"
    "f1 f3"
    "f1 f4"
  
 }
 
.grid-item1 {
  grid-area: f1  ;
} 

.grid-item2 {
    grid-area: f2;
    justify-self: flex-start;
    
} 

.grid-item3 {
  grid-area: f3;
  justify-self: flex-start;
} 

.grid-item4 {
    grid-area: f4;
    justify-self: flex-start;
} 

.imagen-grid {
    width: 200px;
}

h3{
    font-family: 'Poppins', sans-serif;    
    font-size: 16px;
}

h4{
    font-family: 'Poppins', sans-serif;    
    font-size: 12px;
}
.item-fixed{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: transparent;
}
.parrafo-mapa{
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
}
footer{
    border-top: 2px solid #FFE6E8;
    margin-top: 24px;
}
.imag-principal {
    width: 40%;
    border-radius: 12px;
}
.div-principio{
    display: flex;
}

.flex {
    display: flex;
    justify-content: center;
}










/*mobile*/
@media only screen and (max-width: 480px){

}


/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 968){
    
}

/*desktop*/
@media only screen and (min-width: 969px){
    
}
 h1{
   transition: all 8s;
   font-size: 45px;
   

 }
  
img:hover {
    transition: all 2s;
    transform:scale(0.97);
   }
 
nav ul li a:hover{
    transition: all 2s;
    color: rgb(96, 205, 238);
    /* font-size: 19px; */
    background-color:#ffdade;
    border-radius: 20%;
     
}

.animacionH1 {
    animation-duration: 3s;
    animation-name: animH1;
  }
@keyframes animH1{
    from {
        color: #FF4219;
    }
    50%{
        color: #faae9d;
    } to {
        color: #FF4219;
    }
}
.tamaño-carrusel {
    width: 40%;
    margin: auto;
}

p {
    text-align: inherit;
    padding: 0% 13%;

}
.foto-entrada {
    width: 80%;
} 

img {
    border-radius: 5px;
}
.z-index {
    z-index: -1;
}