@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
footer {
  border-top: 2px solid #FFE6E8;
  margin-top: 24px;
}

.footer-margin {
  margin: auto;
}

.redes {
  margin: 0rem 5rem 0rem 0rem;
}

.mapa {
  width: 90%;
  border-radius: 5px;
}

.mapa-section {
  margin: auto;
  width: 74%;
}

.footer-flex {
  display: flex;
}

.parrafo-mapa {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
}

header {
  position: sticky;
  top: 0;
  background-color: #FFE6E8;
  font-family: "Poppins", sans-serif;
  color: #d61d1d;
  font-size: 18px;
  text-align: center;
}

.bg.perdida {
  background-color: #FFE6E8;
}

.logo-principal {
  padding: 1rem 0rem 0rem 2rem;
}

.nav-pd {
  padding: 1rem 18rem;
}

.nav-li {
  padding: 0rem 0.5rem;
}

.nav-logos {
  padding: 0rem 1rem 0rem 0rem;
}

.logos-flex {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0rem;
}

nav ul li {
  display: inline-block;
  justify-content: space-evenly;
}
nav ul li a:hover {
  transition: all 2s;
  color: #60cdee;
  background-color: #ffdade;
  border-radius: 20%;
}

.nav-flex {
  display: flex;
  background-color: #FFE6E8;
  padding: 12px;
}

* {
  margin: 0;
  padding: 0;
}

/* Fonts de Google*/
.titulo-principal {
  color: #FF4219;
  font-weight: medium;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.parrafo-hero {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: medium;
}

h2 {
  color: #FF4219;
  font-weight: medium;
  font-style: normal;
  font-family: "Poppins";
  font-family: sans-serif;
  font-size: 20px;
}

.parrafo-lugar {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.parrafo-habitaciones {
  font-family: "Poppins" sans-serif;
  font-size: 14px;
}

.parrafo-experiencias {
  font-family: "Poppins" sans-serif;
  font-size: 14px;
}

.parrafo-contacto {
  font-family: "Poppins" sans-serif;
  font-size: 14px;
}

h3 {
  font-family: "Poppins";
  font-family: sans-serif;
  font-size: 16px;
}

h4 {
  font-family: "Poppins";
  font-family: sans-serif;
  font-size: 12px;
}

p {
  text-align: inherit;
  padding: 0% 13%;
}

.flex {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  justify-items: end;
  grid-template-areas: "f1 f2" "f1 f3" "f1 f4";
}

.grid-item1 {
  grid-area: f1;
}

.grid-item2 {
  grid-area: f2;
  justify-self: flex-start;
}

.grid-item3 {
  grid-area: f3;
  justify-self: flex-start;
}

.grid-item4 {
  grid-area: f4;
  justify-self: flex-start;
}

.imagen-grid {
  width: 200px;
}

.item-fixed {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: transparent;
}

.imag-principal {
  width: 40%;
  border-radius: 12px;
}

.div-principio {
  display: flex;
}

h1 {
  transition: all 8s;
  font-size: 45px;
}

img:hover {
  transition: all 2s;
  transform: scale(0.99);
}

.animacionH1 {
  animation-duration: 3s;
  animation-name: animH1;
}

@keyframes animH1 {
  from {
    color: #FF4219;
  }
  50% {
    color: #faae9d;
  }
  to {
    color: #FF4219;
  }
}
.tamaño-carrusel {
  width: 25%;
  margin: auto;
}

.foto-entrada {
  width: 60%;
}

img {
  border-radius: 5px;
}

.z-index {
  z-index: -1;
}

.padding {
  padding: 25px 0px;
}

.p-entrada {
  padding: 16% 15%;
}

/*mobile*/
@media only screen and (max-width: 480px) {
  .tamaño-carrusel {
    width: 80%;
    margin: auto;
  }

  .foto-entrada {
    width: 90%;
  }
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 968) {
  .tamaño-carrusel {
    width: 80%;
    margin: auto;
  }

  .foto-entrada {
    width: 90%;
  }
}
/*desktop*/
.flex {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
