

footer{
    border-top: 2px solid #FFE6E8;
    margin-top: 24px;
}

.footer-margin {
    margin: auto;
}
.redes {
        margin: 0rem 5rem 0rem 0rem;
}
.mapa {
   
    width: 90%;
    border-radius: 5px;
}
.mapa-section {
    margin: auto;
    width: 74%;
}
.footer-flex {
    display: flex;
}
.parrafo-mapa{
    font-family: 'Poppins', sans-serif;    
    font-size: 14px;
}

