


/*mobile*/
@media only screen and (max-width: 480px){

    .tamaño-carrusel {
        width: 80%;
        margin: auto;
    }
    .foto-entrada {
        width: 80%;
    }
    .div-principio {
        display: block;
    }
}


/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){

    .tamaño-carrusel {
        width: 70%;
        margin: auto;
    }
    .foto-entrada {
        width: 90%;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px){

    .tamaño-carrusel {
        width: 50%;
        margin: auto;
    }
    .foto-entrada {
        width: 90%;
    }
}

/*desktop*/
@media only screen and (min-width: 1025px){
    
}